.top-panel {
    padding: 30px 0 242px;
    background-image: $gradient,
        url('../images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

@media (min-resolution: 192dpi) {
    .top-panel {
    background-image: $gradient,
    url('../images/background-image@2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
}

.navigation {
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 150px;
}

.logo {
    font-size: 30px;
    color: $second-color;
    font-family: $font-monts;
    font-weight: 700;
    text-align: left;
} 

.navigation__wrapper {
    display: flex;
    justify-content: flex-end;
}

.navigation__list {
    display: flex;
    text-transform: uppercase;
    margin-right: 52px;
}

.navigation__link {
    font-family: $font-monts;
    color: $second-color;
    font-weight: 500;
    transition: all 1000ms linear;
}

.navigation__link:hover,
.navigation__link:focus {
    color: #fce38a;
    opacity: 1;
    visibility: visible;
}

.navigation__link:after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    margin: 10px 0 0;
    opacity: 0;
    visibility: hidden;
    transition: all 1000ms linear;
}

.navigation__link:hover::after,
.navigation__link:focus::after {
    opacity: 1;
    visibility: visible;
}

.logo:hover {
    animation: slide-left  1s ease-out 3;
}

@-webkit-keyframes slide-left {
    0% {
    
    transform: translateX(0);
    }
    50% {
    transform: scale(1.2);
    color: #fce38a;
    }
    100% {
    transform: translateX(-150px) scale(1.4);
    }
}

@keyframes slide-left {
    0% {
    transform: translateX(0);
    }
    50% {
    transform: scale(1.2);
    color: #fce38a;
    }
    100% {
    transform: translateX(-150px) scale(1.4);
    }
}

.navigation__list-item:not(:last-child) {
    margin-right: 54px;
}

.btn-wrapper {
    display: flex;       
    justify-content: space-between;
}

.btn-wrapper__item:first-child {
    margin-right: 42px;
}

.btn {
    background-color: $gradient;
    fill: $second-color;
    border: none;
    cursor: pointer;
    transition: fill 0.3s linear;
}

.shopping-cart__icon {
    width: 20px;
    height: 20px;
}

.search__icon {
    width: 20px;
    height: 20px;
}

.btn:hover,
.btn:focus {
    fill:  #fce38a;
}

.top-panel__decor-line {
    display: block;
    font-family: $font-monts;
    color: $second-color;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 150px;
    line-height: 1;
    margin-bottom: 56px;
    padding: 0 50px 0;
}

.top-panel__bottom-link {
    display: block;
    margin: 0 auto;
    border: 3px solid $second-color;
    width: 164px;
    height: 44px;
    font-family: $font-monts;
    color: $second-color;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 25px;
}

.top-panel__new-line  {
    display: block;
    font-family: $font-Kaushan;
    font-size: 72px;
    text-align: center;
    color: $second-color;
    margin-bottom: 54px;    
    line-height: 1.2;
    font-weight: 400;
}

.top-panel__bottom-link:hover,
.top-panel__bottom-link:focus {
    background-color: #f38181;
}