
.team {
    padding-bottom: 84px;

    &__description {
        display: block;
        text-align: center;
        margin: 0 auto;
        font-family: $font-roboto;
        font-weight: $regular;
        font-size: 15px;
        line-height: 24px;
        color: $description-color;
        padding: 0 110px;
        margin-bottom: 94px;
    }

    &__list{
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: calc((100% - 64px)/3);
        text-align: center;

        &:hover .overlay,
        &:focus .overlay {
            opacity: 1;
            visibility: visible;
        }

        &:hover .team__image-wrapper,
        &:focus .team__image-wrapper {
            transform: translate(-10px, -10px);
            box-shadow: 10px 10px $btn-color;
        }
    }

    &__image-wrapper {
        position: relative;
        -webkit-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
        margin-bottom: 30px;
    }

    &__member--name {
        margin-bottom: 14px;
        font-family: $font-monts;
        font-weight: $regular;
        text-transform: uppercase;
    }

    &__member--position {
        font-family: $font-roboto;
        font-size: 15px;
        line-height: 24px;
        font-weight: $light;
        color: $description-color;
        font-style: italic;
    }
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gradient;
    background-clip: padding-box;
    border: none;
    opacity: 0;
    visibility: hidden;
}

.social-list {
    display: flex;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        background-color: $hover-color;
        transition: all 300ms ease;

        &:hover,
        &:focus { 
            background-color: $background-color;
        }
    }

    &__icon {
        width: 26px;
        height: 26px;
        fill: $background-color;
    }

    &__item:hover .social-list__icon,
    &__item:focus .social-list__icon {
        fill: $second-color;
    }

    &__item:not(:last-child) {
        margin-right: 1px;
    }
}