
html { 
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-roboto);
    line-height: 1.2;
    color: #333333;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

h1,h2,h3,h4 {
    margin: 0;
}