
$font-monts: 'Montserrat';
$font-roboto: 'Roboto';
$font-Kaushan: 'Kaushan Script';
$bold: 700;
$regular: 400;
$light: 300;
$main-color:#333333;
$second-color: #ffffff;
$gradient: linear-gradient(to top , rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%);
