
$font-monts: 'Montserrat';
$font-roboto: 'Roboto';
$font-Kaushan: 'Kaushan Script';
$bold: 700;
$regular: 400;
$light: 300;
$main-color:#333333;
$second-color: #ffffff;
$background-color: #f38181;
$second-background-color: rgba(0, 0, 0, 0);
$third-background-color: #e5e5e5;
$hover-color: #fce38a;
$border-color: #e7e7e7;
$btn-color: #95e1d3;
$description-color: #999999;
$gradient: linear-gradient(to top , rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%);
